{% extends "base_template.html" %}

{%- block container -%}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center black-text">Chain of Custody</h1>
      <div class="row center">
        <a href="/login" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m12">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Chain of Custody - Tracing Chain of Custody for Agricultural / Horticultural / Forest Produce</h5>
            <p class="light center">A technical solution to tracking product quality and reliability of organic produces (eg.,Banganapalli mango) in export value chain</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
{%- endblock -%}